header
{
    background-color: rgb(112, 146, 190);
    width: 100%;
    height: 30%;
    color: rgb(255, 255, 255);
    border-bottom: 3px solid black;
    border-color: black;
    position: fixed;
}


.head
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.logo img
{ 
    width: 70px; 
    height: 70px;
    margin-top: 20px;
    margin-left: 20px;
}


.title
{
    font-size: 300%;
    margin-top: 60px;
    text-align: center;
    text-decoration: underline;
    font-family:sans-serif;
}


body
{   
    background-color: rgb(255, 255, 210);
    margin: 0%;
    padding: 0%;
    grid-template-columns: 1fr 1fr 1fr;
}