/* allt med "header finns undnder denna raden" */
header
{
    background-color: rgb(112, 146, 190);       /*backgrundsfärg*/ 
    width: 100%;
    height: 30%;
    color: rgb(255, 255, 255);      /*färg på all text*/
    border-bottom: 3px solid black;
    border-color: black;
    padding-bottom: 60px;
}


.head      /*div samling*/ 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;     /*antal kolumner*/
}


.logo img   /*loggans storlek & possition*/
{ 
    width: 70px; 
    height: 70px;
    margin-top: 20px;
    margin-left: 20px;
}


.title  /*rubrik storlek, possition, style */
{
    font-size: 300%;
    margin-top: 60px;
    text-align: center;
    text-decoration: underline;     /*understyken text*/
    font-family:sans-serif;     /*font*/
}


/* allt med boddy finns under denna raden */
body
{   
    background-color: rgb(255, 255, 210);       /*backgrundsfärg*/
    margin: 0%;
    padding: 0%;
}


::-webkit-scrollbar     /*fix för utseende på scroll*/
{
    width: 5px;
}
::-webkit-scrollbar-thumb{background-color: black;}

.info   /*div samling*/
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
}


.om-mig     /*text ruta stor*/
{
    border: 3px solid black;     /*storlek & form*/
    border-radius: 20px;
    width: 300px;
    height: 375px;

    background-color: white;    /*färg*/

    margin-left: auto;      /*position*/
    margin-right: auto;
    margin-top: 15px;

    overflow-y: auto;     /*lägger till scroll funktion i rutan*/
    box-sizing: border-box;
    word-wrap: break-word;
    padding: 20px;
}


.om-mig-inner
{
   height: 330px; 
}

    

.interests     /*text ruta liten_1*/
{
    border: 3px solid black;     /*storlek & form*/
    border-radius: 20px;
    width: 280px;
    height: 180px;

    background-color: white;    /*färg*/

    margin-left: auto;      /*position*/
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;

    overflow-y: hidden;     /*lägger till scroll funktion i rutan*/
    box-sizing: border-box;
    word-wrap: break-word;  
    padding: 20px;
}

.scroll     /*fixar (typ) position och utseende för scroll bar*/
{
    overflow-y: auto;
    word-wrap: break-word;
    box-sizing: border-box;
}

.interests-inner {      /*hight scroll*/
    height: 140px;
}



.varberg        /*bild ruta*/
{
    border: 3px solid black;    /*storlek & form*/
    width: 300px;
    height: 300px;

    background-color: white;    /*färg*/   

    margin-left: auto;      /*position*/
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.varberg-bild
{
    width: 300px; 
    height: 300px;  
    object-fit: cover;
}
