/* allt med "header finns undnder denna raden" */
header
{
    background-color: rgb(112, 146, 190);       /*backgrundsfärg*/ 
    width: 100%;
    height: 30%;
    color: rgb(255, 255, 255);      /*färg på all text*/
    border-bottom: 3px solid black;
    border-color: black;
    padding-bottom: 60px;
}


.head
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;     /*antal kolumner*/
}


.logo img
{ 
    width: 70px; 
    height: 70px;
    margin-top: 20px;
    margin-left: 20px;
}


.title
{
    font-size: 300%;
    margin-top: 60px;
    text-align: center;
    text-decoration: underline;     /*understyken text*/
    font-family:sans-serif;     /*font*/
}


/* allt med boddy finns under denna raden */
body
{   
    background-color: rgb(255, 255, 210);       /*backgrundsfärg*/
    margin: 0%;
    padding: 0%;
}

.om-mig
{
    border-radius: 3px solid black;
    width: 10px;
    height: 10px;
}